# dataset
data/

# models
models/

# python cache
__pycache__/

# python pakages
*.egg-info/
*.whl
dist/

# cython temp files
*.c
*.html

# tools for dev
chsrc-x64-linux
Miniforge3-25.3.0-3-Linux-x86_64.sh